<h6>用户管理</h6>
<div>
    角色 <select ng-model="rol">
            <option value="user">管理员</option>
            <option value="user">13管理员aaa</option>
            <option value="user">13管理</option>
        </select>

    状态 <select  ng-model="adm">
            <option value="all">全部</option>
            <option value="all">禁用</option>
            <option value="all">启用</option>
         </select>
    登录名 <input type="text" ng-model="search">
           <button ng-click="btn()">查询</button>
<p>列表</p>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>登陆名</th>
                <th>真实姓名</th>
                <th>角色</th>
                <th>手机</th>
                <th>邮箱</th>
                <th>状态</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="i in cutoutData |filter:rol|filter:sea|filter:adm">
                <td>{{i.ID}}</td>
                <td>{{i.loginname}}</td>
                <td>{{i.name}}</td>
                <td>{{i.role}}</td>
                <td>{{i.telephone}}</td>
                <td>{{i.email}}</td>
                <td>{{i.state}}</td>
                <td>{{i.creattime}}</td>
                <td>
                    <span ng-click='change(i.ID)'>修改</span>
                    <span ng-click='remove(i.ID)'>删除</span>
                </td>
            </tr>
        </tbody>
    </table>

    <div id="popup" ng-show="bol">

        <ul>
            <li>确认</li>
            <li>登录名：<input type="text" value="{{tar.loginname}}" ng-model="tar.loginname"></li>
            <li>真实姓名：<input type="text" value="{{tar.name}}" ng-model="tar.name"></li>
            <li>角色：<input type="text" value="{{tar.role}}" ng-model="tar.role"></li>
            <li>手机：<input type="text" value="{{tar.telephone}}" ng-model="tar.telephone"></li>
            <li>邮箱：<input type="text" value="{{tar.email}}" ng-model="tar.email"></li>
            <li>状态：
                <input type="text" value="{{tar.state}}" ng-model="tar.state" >

            </li>

            <li>
                <a ng-click="sure()">确定</a>
                <a ng-click="no()">取消</a>
            </li>
        </ul>
    </div>

        <nav>
            总共有条{{allPage}}数据

                <span  ng-click="updownFn('-')">上一页</span>
                <span class="count" ng-class="{back:(index+1)==1}" ng-click="changeIndexFn(1)">1</span>
                <span class="count" ng-show="showStatue1">...</span>
                <span class="count" ng-repeat="i in pageArr" ng-show="self==i||self_1==i||i==self_2||i==self1||i==self2" ng-class="{back:(index+1)==i}" ng-click="changeIndexFn(i)">{{i}}</span>
                <span class="count"  ng-show="showStatue2">...</span>
                <span class="count"  ng-class="{back:(index+1)==allPage}" ng-click="changeIndexFn(allPage)">{{allPage}}</span>
                <span   ng-click="updownFn('+')">下一页</span>
                第<input  type="number"  min="1" max="{{allPage}}" ng-change="changeInput()" ng-model="valueDATA" style="width: 50px;height: 35px;" >页

        </nav>
    </div>

